<!--DOCTYPE html tells the browser that the document is an html page-->
<!DOCTYPE html>
<!--Begining of html code-->
<html>
<!--Begining of head section--> 
<head>
	 <title>WPRMS</title>
	 <!--Linking the CSS stylesheet using extrenal CSS-->
	 <link rel="stylesheet" type="text/css" href="home-1.css">
	 <!--Font Awesome script for using icons from font awesome-->
	 <script src="https://kit.fontawesome.com/6f0f83005a.js" crossorigin="anonymous"></script>
	 <!--Adds responsiveness to the website-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>

    <script src="https://kit.fontawesome.com/e9c26e2c6d.js" crossorigin="anonymous"></script>
</head>

<body>