<head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script src="/overlay.js"></script>
      <link rel="stylesheet" href="overlay.css">
    </head>
  
    <body>
      <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><span></span></label>
      <label for="active" class="close"></label>
      <div class="wrapper">
        <ul>
  <li><a href="#">C</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Gallery</a></li>
  <li><a href="#">Feedback</a></li>
  </ul>
  </div>
  <div class="content">
        <div class="title">
  Fullscreen Overlay Navigation Bar</div>
  <p>
  (Hamburger Menu-2)</p>
  </div>
  </body>
  



workshop name 
ins name 
fee 
avail seats
attenders


  <div id="text">
    <li>
        <p>Workshop Name</p>
        <p>Instructor Name</p>
        <p>Fees</p>
        <p>Available seats</p>
        <p>Attenders</p>
    </li>
    
  
  </div>